.message {
    max-width: max-content;
    padding: 10px 20px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 5px;

}

.message.me {
    text-align: end;
    margin-left: auto;
    background-color: #dcf8c6;
    border-bottom-left-radius: 15px;

}

.message.other {
    margin-right: auto;
    background-color: aliceblue;
    border-bottom-right-radius: 15px;


}

.message-content {
    margin-bottom: 2px;
    font-weight: 400;
    font-size: medium;
}

.message-time {
    font-size: 0.75rem;
}





